//Created by Clint Small Cain on 3/22/2015.
doctype
html
    head
        title  #{pageTitle} | #{siteName}  #{siteVersion}
        link(href="/favicon.ico",rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css", type="text/css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css", type="text/css")
        link(rel="stylesheet", href="/vendor/ng-grid/ng-grid.css", type="text/css")
        link(rel="stylesheet", href="/css/site.css", type="text/css")
        link(rel="stylesheet", href="/css/"+pageCss+".css", type="text/css")
        base(href="/")
        meta(name="viewport",content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    body(ng-app='app').appcontent
        include currentUser
        .navbar.navbar-default.navbar-fixed-top.navbar-main(ng-controller="bilHeadCtrl")
            .container-fluid
                .navbar-header.big-header
                    a(href="/")
                        img(src="/img/logo.png")
                        div.logo-title=siteName
                            span.logo-subtitle=siteVersion
                    button.btn.btn-primary.navbar-bt.pull-right.login-btn.visible-xs(type="button",ng-hide="identity.isAuthenticated()") Login
                    if pageCss != '404'
                        div(ng-include="'/partials/account/navbar-login'").pull-right.hidden-xs
                    .navbar.navbar-default.main-menu-bar(ng-show="identity.isAuthenticated()")
                        .container-fluid
                            button.navbar-toggle.collapsed.menu-button(type="button",data-toggle="collapse",data-target="#main-menu")
                                span.sr-only Toggle
                                span.icon-bar
                                span.icon-bar
                                span.icon-bar
                            .collapse.navbar-collapse(id="main-menu")
                                ul.nav.navbar-nav
                                    li
                                        a(href="/",data-toggle="collapse",data-target="#main-menu") Dashboard
                                    if  pageMenus
                                        for item in pageMenus
                                            li
                                                a(href=item.url)=item.text

        block main-content
        hr
        footer.container.text-center &copy; #{currentYear} Breakbottle.com

        include scripts